<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bbpi</display-name>
  
  <listener>
    	<listener-class>com.activ.bbpi.CListener</listener-class>
 	</listener>

  <!-- authorization -->  
	<servlet>
		<servlet-name>auth_servlet</servlet-name>
		<servlet-class>com.activ.bbpi.auth.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>auth_servlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>auth_servlet</servlet-name>
		<url-pattern>/authorize</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>auth_servlet</servlet-name>
		<url-pattern>/consent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>auth_servlet</servlet-name>
		<url-pattern>/token</url-pattern>
	</servlet-mapping>

	<!-- data -->  
	<servlet>
		<servlet-name>api_servlet</servlet-name>
		<servlet-class>com.activ.bbpi.api.ApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>api_servlet</servlet-name>
		<url-pattern>/record</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api_servlet</servlet-name>
		<url-pattern>/record/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api_servlet</servlet-name>
		<url-pattern>/record/summary</url-pattern>
	</servlet-mapping>
  
	<!-- client test -->  
	<servlet>
		<servlet-name>client_servlet</servlet-name>
		<servlet-class>com.activ.bbpi.test.ClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>client_servlet</servlet-name>
		<url-pattern>/client</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client_servlet</servlet-name>
		<url-pattern>/client-register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client_servlet</servlet-name>
		<url-pattern>/client-oauth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client_servlet</servlet-name>
		<url-pattern>/client-oauth-callback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client_servlet</servlet-name>
		<url-pattern>/client-data</url-pattern>
	</servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>